@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins/breakpoints';
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$box-sizing: border-box;
$fontsize-html : 62.5%;
$fontfamily-base: 'Poppins', sans-serif;
$margin-base: 0 auto;
$background-color: #e0dddd;
$font-weight-bold: 500;
$gap: 2rem;
$line-height: 20px;
$line-height-mobile: 52px;
$font-size: 15px;
$font-style: normal;
$font-weight-logo: 700;
$font-size-p: 16px;
$font-weight-p: 400;
$line-height-p: 24px;
$color-p: #344563;
$font-size-logo: 18px;
$font-size-mobile: 40px;
$font-size-connet: 16px;
$font-weight-connect: 500;
$line-height-connect: 24px;
$color-connect: #7f8cff;
$color-logo: #6070ff;
$margin-logo: 0 24px;
$color-nav: #070707;
$spacer: 3rem;
$margin-h1-text: 114px 24px 0 24px;
$margin-p-text: 0 24px 0 24px;
$color-h1: #172b4d;
$font-style: normal;

*,
::after,
::before {
    box-sizing: $box-sizing;
}

html {
    font-size: $fontsize-html;
}

body {
    font-family: $fontfamily-base;
    margin: $margin-base;
    background-color: $background-color;
}

a.logo {
    font-weight: $font-weight-logo ;
    font-size: $font-size-logo ;
    color: $color-logo ;
    margin: $margin-logo;
    font-family: $fontfamily-base ;
    margin: 0 0 0 ($spacer * 1);
}

a.nav-custom {
    font-family: $fontfamily-base ;
    font-size: $font-size ;
    font-style: $font-style ;
    font-weight: $font-weight-bold ;
    line-height: $line-height ;


}

.navbar-nav {
    visibility: hidden;
}

.nav-link:hover {
    color: $color-logo ;
}

.btn {
    border: none;

}

#headline {
    max-width: 100%;
    height: 65rem;
    background-image: url(./images/header-shapes\ mobile.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: white;
    border-radius: 0 0 0 60px;

}

.text-start {
    font-family: $fontfamily-base ;
    font-weight: $font-weight-logo ;
    font-size: $font-size-mobile;
    color: $color-h1 ;
    line-height: $line-height-mobile ;
    margin: ($spacer * 4) 0 0 ($spacer * 1);
}

p {
    font-family: $fontfamily-base ;
    font-size: $font-size-p ;
    font-weight: $font-weight-p ;
    line-height: $line-height-p ;
    color: $color-p ;
    margin: 0 0 0 ($spacer * 1);

}

a.custom-margen {
    font-family: $fontfamily-base ;
    font-size: $font-size-connet ;
    font-weight: $font-weight-connect ;
    line-height: $line-height-connect ;
    color: $color-connect ;
    
    
}
ul.custom-margen {
    margin: 0 0 0 ($spacer * 0.4);
}


@include media-breakpoint-up(md) {

a.logo {
    font-weight: $font-weight-logo ;
    font-size: $font-size-logo ;
    color: $color-logo ;
    margin: $margin-logo;
    font-family: $fontfamily-base ;
    margin: 0 0 0 ($spacer * 4);
}
    .navbar-nav {
        visibility: visible;
    }

    .logo {
        margin: 0 0 0 ($spacer * 4);
    }

    h1.custom-margen {
        margin: ($spacer * 4) 0 0 ($spacer * 4);
    }

    p.custom-margen {
        margin: 0 ($spacer * 5) 0 ($spacer * 4);
    }

    a.custom-margen {
        margin: ($spacer * 0.5) ($spacer * 5) 0 ($spacer * 4);
        font-size: $font-size-connet;
        font-weight: $font-weight-connect;
        line-height: $line-height-connect;
        font-family: $font-family-base;
        font-style: $font-style;
    }

 #custom-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

}